# ML LAB-1 
by  
***Dasari Jayanth***   
Roll no. ***2019BCS-016***

## Question-1

Datatypes(int, float, str, bool, and list) and operations on Data types

int datatype ====> integers (numbers).  

can directly assign variables with integers it is considered as "int" data type, has no decimal point.

In [1]:
a = 1
print(a)

# to check the datatype of the variable, can use type()
print(type(a))

# printing both value and type of varibale using single print line.
print(f"type of {a} is {type(a)}")

1
<class 'int'>
type of 1 is <class 'int'>

Operations on int

In [2]:
a = 16
b = 10

# Addition
print(f"  Addition     of int variables a: {a} and b: {b} is {a+b}")

# Multiplication
c = a*b
print(f"Multiplication of int variables a: {a} and b: {b} is {c}")

# Powers
print()
print(f"{a} Power {b} is {a**b}")

  Addition     of int variables a: 16 and b: 10 is 26
Multiplication of int variables a: 16 and b: 10 is 160

16 Power 10 is 1099511627776

float datatype ====> Floating Point numbers(All real numbers), has decimal point.  

can directly assign variables with real numbers(with decimals), it is considered as "float" data type.

In [3]:
a= 1.
print(f"type of {a} is {type(a)}")

type of 1.0 is <class 'float'>

Operations on float

In [4]:
a = 1.6
b = -3.2

# Addition
print(f"  Addition     of float variables a: {a} and b: {b} is {a+b}")

# Multiplication
c = a*b
print(f"Multiplication of float variables a: {a} and b: {b} is {c}")

# Powers
print()
print(f"{a} Power {b} is {a**b}")

  Addition     of float variables a: 1.6 and b: -3.2 is -1.6
Multiplication of float variables a: 1.6 and b: -3.2 is -5.120000000000001

1.6 Power -3.2 is 0.22223684118970702

str datatype ===> strings, any value(s) that is assigned to the variable using single quotation(' ') or double quotations(" ") (for single line strings).  
For multi line strings, ise triple double quotes("""  """) or triple single quotes('''   ''').

In [5]:
# single line string
a = "Data Science"
print(a)
print(f"type of variable a is : {type(a)}")

print("-------------------------------------------------")
# Multi Line string
b = """Hello,
welcome to the orientation session,
shall end the class immediately."""
print(b)
print(f"Type of variable b is : {type(b)}")

Data Science
type of variable a is : <class 'str'>
-------------------------------------------------
Hello,
welcome to the orientation session,
shall end the class immediately.
Type of variable b is : <class 'str'>

operations on str

Elements of a String can be accessed via it's index(similar to that of array), they are immutable, can't be changed once assigned.

In [6]:
a ="Today's class is cancelled"

# slicing---------------------------------------------
print(a[5:])
print(a[:5])
print(a[3:8])
try:
  a[5] = 't'
except Exception as e:
  print(e)
print("-------------------------------------------------")

# concatenation---------------------------------------
s1 = "Hello"
s2 = "Every one"
s = s1+" "+s2
print(f"string after concatenation: {s}")
print("-------------------------------------------------")

# format strings--------------------------------------
str1 = "Good evening {}."
var = "sir"
print(str1.format(var))
var = 'mam'
print(str1.format(var))
print("-------------------------------------------------")
#String Methods----------------------------------------
# string has many built-in functions like count, index,
# isalpha, islower, split, strip and soon.
str1 = "I am a String"
print(f"Occurence of alphabet 'a' is : {str1.count('a')}")
print(f"Turning all characters to uppercase: {str1.upper()}")

's class is cancelled
Today
ay's
'str' object does not support item assignment
-------------------------------------------------
string after concatenation: Hello Every one
-------------------------------------------------
Good evening sir.
Good evening mam.
-------------------------------------------------
Occurence of alphabet 'a' is : 2
Turning all characters to uppercase: I AM A STRING

bool datatype ===> True/False Values are called boolean values.  
To validate conditions we need to find whether the condition is 'true' or 'false'.
By default, '0' is considered as False(None, empty also) and any other value is considered as True.

In [7]:
a = True
print(f"Type of Variable a:{type(a)}")
b = False
print(f"Type of Variable b:{type(b)}")

Type of Variable a:<class 'bool'>
Type of Variable b:<class 'bool'>

Operations on bool datatype

In [8]:
a = 16
b = -3
c = 0
print(a==b)
print(bool(b<c))
print(bool(a))
print(bool(a or b))
print(bool(a and b))
print(not a)

False
True
True
True
True
False

list datatype ===> similar to that of arrays in c++/c language.  
lists are defined in square brackets("[ ]").  Elements can be of any type, even iterables like tuples, dict.  
lists are ordered, changeable and allows duplicate values. The elements of the list can be accessed via index, lists are mostly used. (in every situation)

In [9]:
l  = list()  # empty list initialization
l1 = list(("A",'B','C'))
l2 = ['Hi',("him", "his"), 8, {"her": "alexa"}, True, 8]
print(l2,"=====>",type(l2))
print(l2[1],"======>",type(l2[1]))

['Hi', ('him', 'his'), 8, {'her': 'alexa'}, True, 8] =====> <class 'list'>
('him', 'his') ======> <class 'tuple'>

Operations on list datatype

In [10]:
# len of list ==>.no. of items in the list
l = ['Hi',("him", "his"), 8, {"her": "alexa"}, True, 8]
print(f"length of the list l is: {len(l)}")

# slicing
print(f"slicing the list l: {l[2:-1]}")

a = 9 in l # checking whether the value 9 is in list l
print(a)

# modifying list, appending list, remove items from list
l[2] = 19
l.append("machine")
print(f"changed list l: {l}")
l.insert(1,"Learning")
l.remove(True)  # give the value to delete from list
print(f"removing and inserting in l: {l}")
l.pop() # give the index to delete value at that index, if none given removes last item
print(f"l after popping: {l}")
l1= ["namaste", "manchidhi"]
l.extend(l1) # can be any iterable not only list but also set, tuple, dict
print(f"after extend: {l}")
del l # deleting the list
try:
  print(l)
except Exception as e:
  print(f"After deleting the list: {e}")

length of the list l is: 6
slicing the list l: [8, {'her': 'alexa'}, True]
False
changed list l: ['Hi', ('him', 'his'), 19, {'her': 'alexa'}, True, 8, 'machine']
removing and inserting in l: ['Hi', 'Learning', ('him', 'his'), 19, {'her': 'alexa'}, 8, 'machine']
l after popping: ['Hi', 'Learning', ('him', 'his'), 19, {'her': 'alexa'}, 8]
after extend: ['Hi', 'Learning', ('him', 'his'), 19, {'her': 'alexa'}, 8, 'namaste', 'manchidhi']
After deleting the list: name 'l' is not defined

## Question- 2

Datatype Conversions

In [11]:
# str to int and str to float
a = "10"
i = int(a)
b = "18.96"
f = float(b)
print(f"string to  int  conversion: {i}  ,  type of i  ===> {type(i)}")
print(f"string to float conversion: {f}, type of f  ===> {type(f)}")

# int to str and float to str
f1 = 8.96
i1 = 19
s1 = str(f1)
s2 = str(i1)
print(f" int  to string conversion: {s1},  type of s1 ===> {type(s1)}")
print(f"float to string conversion: {s2},    type of s2 ===> {type(s2)}")

string to  int  conversion: 10  ,  type of i  ===> <class 'int'>
string to float conversion: 18.96, type of f  ===> <class 'float'>
 int  to string conversion: 8.96,  type of s1 ===> <class 'str'>
float to string conversion: 19,    type of s2 ===> <class 'str'>

In [12]:
# float to int and int to float
a = 16
b = -32
e = -2.40
f = 8.58
print(f" int  value of e is:  {int(e)},  f is: {int(f)}")
print(f"float value of b is: {float(b)}, a is: {float(a)}")

 int  value of e is:  -2,  f is: 8
float value of b is: -32.0, a is: 16.0

In [13]:
# string to list
s = " How ARE YOU?"
l = s.split() # divide string across white spaces, can pass the paramaeter for suppose comma (,) across which we want to divide
print("string to list",l, "===>",type(l))


# list to string
st = "".join(l)
print("list to string ===>", st)
st1 = " ".join(l)
print(st1)

string to list ['How', 'ARE', 'YOU?'] ===> <class 'list'>
list to string ===> HowAREYOU?
How ARE YOU?

# Question-3 
if / if-else / if-elif-else conditions

In [14]:
# print the statement when the given condition holds. 
# Here condition is given statement has even number as length
statement ="The given condition is satisfied"
if len(statement)%2==0:
  print(statement)
  print(f"length of statement is :{len(statement)}")

The given condition is satisfied
length of statement is :32

In [15]:
# print the given number if it is even else print not an even number 
a = 24
print(f"{a} is even number" if a%2==0 else print("'a' is Not a even number"))

24 is even number

In [16]:
# print the relation between two numbers(>, <, =)
a = 15
b = 15
if a>b:
  print("a is greater than b")
elif b>a:
  print("b is greater than a and a is less than b")
else:
  print("Both are a and b equal")

Both are a and b equal

In [17]:
# To find the number of given values are true
a = True
b = False

if a and b:
  print("Both values are true")
elif a or b:
  print("One of the two values is true") 
else:
  print("Neither of them are true")

One of the two values is true

# Question-4
while and for loops

In [18]:
# print all elements of the list in seperate lines using for loop
l =["HI", "Hello","Data", "list", "hyd","ML"]
for i in l:
  print(i)

HI
Hello
Data
list
hyd
ML

In [19]:
# to print the following pattern using for loop
n =10
for i in range(1,n,2):
  print(i*'*')

*
***
*****
*******
*********

In [20]:
# print first 'n' numbers of fibonacci series using while loop 
l=[1,1]
n = 10
i=2
while i<n:
  l.append(l[i-1]+l[i-2])
  i+=1
print("fibonacci series: ",l)

fibonacci series:  [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [21]:
# print the binary form of the given decimal number using while loop
n = 17
b=''
while n>0:
  a = n%2
  n = n//2
  b = str(a) + b
print(b)

10001

# Question-5
Functions

In [22]:
# define a function to greet the new member

def greeting(name):
  print(f"Hello {name}, Welcome to the team")
greeting('DJ')

Hello DJ, Welcome to the team

In [23]:
# define a function that returns all the factor of given number

def factors(n):
  s = ' '
  for i in range(1,n+1):
    if (n)%i ==0 :
      s = s + str(i)+" "
  return s

b = factors(16)
print(b)
print(factors(10))

 1 2 4 8 16
 1 2 5 10

In [24]:
# define a function where we dont know the number of arguments it may recieve

def experience(*args): # recieves tuple of arguments 
  i =0
  for j in args:
    print(f"My experience {i} ===> {j}")
    i = i+1
experience("backend", "ML engineer")

My experience 0 ===> backend
My experience 1 ===> ML engineer

In [25]:
# define a function where we dont know the number of keywords arguments it may recieve

def pref_address(**kwargs):
  for key, value in kwargs.items():
    print(f"{key} =====> {value}")
pref_address(state= "AP", country="India")

state =====> AP
country =====> India

In [26]:
# that returns sum of first n natural numbers using recurssion

def sum_nn(n=10):  # default argument value if not given
  if n > 0:
    sum = n + sum_nn(n - 1)
  else:
    sum = 0
  return sum

print(sum_nn())
print(f"sum of first 11 natural numbers is: {sum_nn(11)}")

55
sum of first 11 natural numbers is: 66